<app-home></app-home>




<div class="bg-light border-right" id="sidebar-wrapper">

    <div class="list-group list-group-flush">
        <!-- <a href="#" class="list-group-item list-group-item-action bg-light" routerLink="/RGC">Ring Game Configuration</a> -->
        <a href="#demo" data-toggle="collapse">   Ring Game Configuration</a>
        <div id="demo" class="collapse">
            <p href="#" routerLink="/GTT">Game Table Template</p>
            <p>Game Table Type</p>
            <p>Game Table Instance</p>
        </div>



        <a href="#" class="list-group-item list-group-item-action bg-light" routerLink="/SGT">Sit & Go Tournaments </a>
        <a href="#" class="list-group-item list-group-item-action bg-light" routerLink="/MTT">Multi Table Tournaments</a>

    </div>
</div>