<app-ringgameconfiguration></app-ringgameconfiguration>


<div class="col-12 main-div">
    <div class="row">
        <div class="head col-12 p-4">
            <h4>Template List</h4>
            <a class=" float-right btn btn-success " routerLink="templatelist" routerLinkActive="active-link">Create New
                Game Tempalte</a>
        </div>
        <div class="col-12 pt-5 pl-3 pr-3 z-depth-3">
            <form [formGroup]="templateForm" (ngSubmit)="template(templateForm.value)">
                <div class="short-w ">
                    <div class="col-md-12">
                        <label for="gameTypes">Game Type</label>
                        <select id="gameTypeId" class="form-control" name='gameTypeId' formControlName='gameTypeId'>
                            <option [ngValue]=null>Select</option>
                            <option *ngFor="let list of gameTypes" [value]="list.gameTypeId">{{list.typeName}}</option>
                        </select>
                    </div>
                </div>
                <div class="short-w ">
                    <div class="col-md-12">
                        <label for="gameSubTypes">Game Sub-type</label>
                        <select id="gameSubTypeId" class="form-control" name='gameSubTypeId' formControlName='gameSubTypeId'>
                            <option [ngValue]=null>Select</option>
                            <option *ngFor="let list of gameSubTypes" [value]="list.gameSubTypeId">{{list.typeName}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="short-w ">
                    <div class="col-md-12">
                        <label for="limittypes">Limit Type</label>
                        <select id="limitId" class="form-control" name='limitId' formControlName='limitId'>
                            <option [ngValue]=null>Select</option>
                            <option *ngFor="let list of limitTypes" [value]="list.limitId">{{list.limitName}}</option>
                        </select>
                    </div>
                </div>
                <div class="short-w ">
                    <div class="col-md-12">
                        <label for="lowerStake">Stakes</label>
                        <select id="lowerStake" class="form-control" name='lowerStake' formControlName='lowerStake'>
                            <option [ngValue]=null>Select</option>
                            <option *ngFor="let list of lowerStake" [value]="list.lowerStake">{{list.lowerStake}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="short-w ">
                    <div class="col-md-12">
                        <label for="minBuyIn">Min Buy-in</label>
                        <select id="minBuyIn" class="form-control" name='minBuyIn' formControlName='minBuyIn'>
                            <option [ngValue]=null>Select</option>
                            <option *ngFor="let list of minBuyIn" [value]="list.minBuyIn">{{list.minBuyIn}}
                            </option>
                        </select>

                    </div>
                </div>
                <div class="short-w ">
                    <div class="col-md-12">
                        <label for="maxBuyIn">Max Buy-in</label>
                        <select id="maxBuyIn" class="form-control" name='maxBuyIn' formControlName='maxBuyIn'>
                            <option [ngValue]=null>Select</option>
                            <option *ngFor="let list of maxBuyIn" [value]="list.maxBuyIn">{{list.maxBuyIn}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="short-w ">
                    <div class="col-md-12">
                        <label for="seatingcapacity">Seats</label>
                        <select id="seatCapacityId" class="form-control" name='seatCapacityId' formControlName='seatCapacityId'>
                            <option [ngValue]=null>Select</option>
                            <option *ngFor="let list of seatingCapacity" [value]="list.seatCapacityId">{{list.capacity}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="short-w ">
                    <div class="col-md-12">
                        <label for="betTimers">Bet timer</label>
                        <select id="timerId" class="form-control" name='timerId' formControlName='timerId'>
                            <option [ngValue]=null>Select</option>
                            <option *ngFor="let list of betTimers" [value]="list.timerId">{{list.timerName}}</option>
                        </select>
                    </div>
                </div>
                <div class="short-w ">
                    <div class="col-md-12">
                        <label for="templateStatuses">Status</label>
                        <select id="statusId" class="form-control" name='statusId' formControlName='statusId'>
                            <option [ngValue]=null>Select</option>
                            <option *ngFor="let list of templateStatuses" [value]="list.statusId">{{list.statusName}}
                            </option>
                        </select>
                    </div>
                </div>
                <button type="button " class="btn btn-secondary">Apply</button>

                <button type="button" class="btn btn-primary" value="all-clear" (click)="resetForm(templateForm)">Clear</button>


            </form>
        </div>
    </div>


    <div class="accordion p-4" id="accordionExample275">
        <table class="table table-striped " mdbTable #tableEl="mdbTable" class="z-depth-1">

            <thead>
                <tr>
                    <th scope="row">Template ID <img class="filter" src="/assets/sort-icon.svg" (click)="sort('gameTableTemplateId', templateSortingOrder)"></th>
                    <th>Game Type</th>
                    <th>Game Sub-type</th>
                    <th>Limit Type</th>
                    <th>Stakes</th>
                    <th scope="row">Min Buy-in <img class="filter" src="/assets/sort-icon.svg" (click)="sort('minBuyIn', minSortingOrder)"></th>
                    <th scope="row">Max Buy-in <img class="filter" src="/assets/sort-icon.svg" (click)="sort('maxBuyIn', maxSortingOrder)"></th>
                    <th scope="row">Seats <img class="filter" src="/assets/sort-icon.svg" (click)="sort('capacity', seatSortingOrder)"></th>
                    <th scope="row">Bet Timer <img class="filter" src="/assets/sort-icon.svg" (click)="sort('statusName', betSortingOrder)"></th>
                    <th>Status</th>

                </tr>
            </thead>

            <tbody>

                <tr *ngFor="let template of listtemplates1  ; let i=index ">

                    <td *ngIf="i+1>= mdbTablePagination.firstItemIndex && i
                    < mdbTablePagination.lastItemIndex ">

                        <button class="button " data-toggle="collapse " data-toggle="collapse " data-target="#data " aria-expanded="true " aria-controls="collapseOne ">
                            {{  template.gameTableTemplateId }}
                        </button>

                        <div id="data " class="collapse " aria-labelledby="headingOne " data-parent="#accordionExample275 ">

                            <div>
                                <font size="3 " color="blue ">CreatedBy: </font>
                                <font size="3 " color="black ">{{template.createdBy}}</font>
                            </div>
                            <div>
                                <font size="3 " color="blue ">CreatedDate: </font>
                                <font size="3 " color="black "> {{template.createdDate}} </font>
                            </div>

                        </div>
                    </td>

                    <td *ngIf="i+1>= mdbTablePagination.firstItemIndex && i
                        < mdbTablePagination.lastItemIndex ">
                        <button class="button " data-toggle="collapse " data-toggle="collapse " data-target="#data " aria-expanded="true " aria-controls="collapseOne ">
                            {{ template.typeName }}
                        </button>

                        <div id="data " class="collapse " aria-labelledby="headingOne " data-parent="#accordionExample275 ">

                            <div>
                                <font size="3 " color="blue ">UpdatedBy: </font>
                                <font size="3 " color="black ">{{template.updatedBy}} </font>
                            </div>
                            <div>
                                <font size="3 " color="blue ">UpdatedDate: </font>
                                <font size="3 " color="black ">{{template.updatedDate}} </font>
                            </div>

                        </div>

                    </td>
                    <td *ngIf="i+1>= mdbTablePagination.firstItemIndex && i
                            < mdbTablePagination.lastItemIndex ">
                        <button class="button " data-toggle="collapse " data-toggle="collapse " data-target="#data " aria-expanded="true " aria-controls="collapseOne ">
                            {{ template.subTypeName }}
                        </button>
                    </td>
                    <td *ngIf="i+1>= mdbTablePagination.firstItemIndex && i
                                < mdbTablePagination.lastItemIndex ">
                        <button class="button " data-toggle="collapse " data-toggle="collapse " data-target="#data " aria-expanded="true " aria-controls="collapseOne ">
                            {{ template.limitName }}
                        </button>
                    </td>
                    <td *ngIf="i+1>= mdbTablePagination.firstItemIndex && i
                                    < mdbTablePagination.lastItemIndex ">
                        <button class="button " data-toggle="collapse " data-toggle="collapse " data-target="#data " aria-expanded="true " aria-controls="collapseOne ">
                            $ {{ template.lowerStake || 'N.A'}} / $ {{template.upperStake ||' N.A '}}
                        </button>
                    </td>
                    <td *ngIf="i+1>= mdbTablePagination.firstItemIndex && i
                                        < mdbTablePagination.lastItemIndex ">
                        <button class="button " data-toggle="collapse " data-toggle="collapse " data-target="#data " aria-expanded="true " aria-controls="collapseOne ">
                            $ {{ template.minBuyIn }}
                        </button>

                    </td>
                    <td *ngIf="i+1>= mdbTablePagination.firstItemIndex && i
                                            < mdbTablePagination.lastItemIndex ">
                        <button class="button " data-toggle="collapse " data-toggle="collapse " data-target="#data " aria-expanded="true " aria-controls="collapseOne ">
                            $ {{ template.maxBuyIn }}
                        </button>

                    </td>
                    <td *ngIf="i+1>= mdbTablePagination.firstItemIndex && i
                                                < mdbTablePagination.lastItemIndex ">
                        <button class="button " data-toggle="collapse " data-toggle="collapse " data-target="#data " aria-expanded="true " aria-controls="collapseOne ">
                            {{ template.capacity }}
                        </button>
                    </td>
                    <td *ngIf="i+1>= mdbTablePagination.firstItemIndex && i
                                                    < mdbTablePagination.lastItemIndex ">
                        <button class="button " data-toggle="collapse " data-toggle="collapse " data-target="#data " aria-expanded="true " aria-controls="collapseOne ">
                            {{template.timerName}} ( {{ template.silentTimer }} + {{ template.countDownTimer }} )
                        </button>
                    </td>
                    <td *ngIf="i+1>= mdbTablePagination.firstItemIndex && i
                                                        < mdbTablePagination.lastItemIndex ">
                        <button class="button " data-toggle="collapse " data-toggle="collapse " data-target="#data " aria-expanded="true " aria-controls="collapseOne ">
                            {{ template.statusName }}
                        </button>
                    </td>
                </tr>
            </tbody>

        </table>

        <div class="pagination-div mx-auto ">
            <mdb-table-pagination [tableEl]="tableEl " [searchDataSource]="listtemplates1 "></mdb-table-pagination>

        </div>

    </div>
</div>