<app-home></app-home>



<div class="bg-light border-right" id="sidebar-wrapper">

    <div class="list-group list-group-flush" >
        <!-- <a href="#" class="list-group-item list-group-item-action bg-light" routerLink="/RGC">Ring Game Configuration</a> -->
        <a href="#demo" data-toggle="collapse" class="list-group-item list-group-item-action bg-light">   Ring Game Configuration</a>
        <div id="demo" class="collapse p-4" routerLinkActive="active">
            <p href="#" routerLink="/GTT">Template Management</p>
            <p> Table Type Management</p>
            <p>Table Instance Management</p>
        </div>



        <a href="#" class="list-group-item list-group-item-action bg-light" routerLink="/SGT">Sit & Go Tournaments </a>
        <a href="#" class="list-group-item list-group-item-action bg-light" routerLink="/MTT">Multi Table Tournaments</a>

    </div>
</div>